<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ETITEC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/"> Incio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/privado">Privado</a>
      </li>
    </ul>
    <ul class="navbar-nav mx-auto">
      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link" href="#" routerLink="/login">login</a>
      </li>

      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link" href="#" routerLink="/register">Registrarse</a>
      </li>

      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link" href="#" (click)="onClickLogout()">Salir</a>
      </li>

      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link">{{nombreUsuario}}</a>
      </li>

      <li class="nav-item" *ngIf="!isLogin">
        <img src="{{fotoUsuario}}" class="rounded-circle">
        <span class="badge pill badge-secondary">{{emailUsuario}}</span>
      </li>
    </ul>
  </div>
</nav>